@import "common.scss";
.show{
    display: block;
}
header{
    .iconfont.right{
        font-size: 13px;
        line-height: 28px;
    }
}
.main{
    position: absolute;
    top:43px;
    bottom: 50px;
    width: 100%;
    .subheader{
        height:45px;
        width: 100%;
        background: $ccc;
        font-size: 14px;
        color:white;
        line-height: 45px;
        text-align: center;
        font-weight: bold;
        .total{
            color:$red;
        }
    }
    .content{
        position: absolute;
        top:45px;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        .carlist{
            width: 100%;
            height:auto;
            position: relative;
            .caritem{
                width: 100%;
                height:2.32rem;
                padding:0.33rem 0;
                border-bottom: 1px solid #aaaaaa;
                border-top:1px solid #cbcbcb;
                .imgbox{
                    width: 1.73rem;
                    height:1.73rem;
                    float: left;
                    margin-left:0.33rem;
                    img{
                        width: 1.73rem;
                        height:1.73rem;
                        border:1px solid #bababa;
                    }
                }
                .shopinf{
                    width: 3.21rem;
                    height:1.73rem;
                    margin:0 0.26rem;
                    float: left;
                    font-size: 0.24rem;
                    .goodsName{
                        width: 100%;
                        line-height: 0.38rem;
                        height:0.76rem;
                        @include ellipsis(2);
                    }
                    .price{
                        height:0.38rem;
                        line-height: 0.38rem;
                        span{
                            color:$red;
                        }
                    }
                    .numope{
                        height:0.38rem;
                        line-height: 0.38rem;
                        .btn{
                            height:0.38rem;
                            width: 0.5rem;
                            background: $ccc;
                            border-radius: 0.1rem;
                        }
                        .gooditemsnum{
                            width: 0.77rem;
                            height:0.38rem;
                            border:1px solid black;
                            text-align: center;
                            border-radius: 0.1rem;
                        }
                    }
                }
                .del{
                     display: inline-block;
                     width: 0.4rem;
                     text-align: center;
                     height:1.73rem;
                     color:black;
                     float: left;
                }
            }
        }
    }
}