@import "common.scss";
header{
    .iconfont.right{
        font-size: 13px;
        line-height: 28px;
    }
}
.main{
    position: absolute;
    top:43px;
    bottom: 50px;
    width: 100%;
    padding:0.6rem 0.35rem;
    .top{
        width: 100%;
        height:2.5rem;
        background: #ccc;
        overflow: hidden;
        .userimg_url{
            width: 1.64rem;
            height:1.64rem;
            margin-top:0.43rem;
            border-radius: 0.1rem;
            border:1px solid #ccc;
        }
    }
    .bottom{
        width: 100%;
        height:3.62rem;
    }
}