/*
* @Author: Marte
* @Date:   2016-12-16 08:48:29
* @Last Modified by:   Marte
* @Last Modified time: 2016-12-16 09:28:09
*/
@import "common.scss";
.content{
    width: 100%;
    position: absolute;
    top:43px;
    bottom:0;
    padding:16px;
    font-size: 14px;
    background:#f3eff0;
    
    .uName_box{
        margin-top:30px;
        width:100%;
        height:50px;
        background:#ffffff;
        border-radius:5px;
        padding:0 10px;
        display: flex;
        display: -webkit-box;
        p{
            flex:1;
            height:100%;
            text-align: right;
            line-height: 50px;
            margin-right: 10px;
        }
        input{
            flex:4;
            height: 100%;
            width: 100%;
        }
    }
    .to-reg{
        margin-top:90px;
        @include button(44px,#d70909,#aa0404);
    }

}
