.search {
	background-color: #fff;
	border-radius: 10px;
	width: 80%;
	height: 80%;
	line-height: 100%;
	margin-left: 10%;
	text-indent: 30px;
}
.banner {
	width: 100%;
	height: 200px;
	margin-top: 80px;
	padding: 10px 26px;
}
.banner .swiper-container {
	width: 100%;
	height: 100%;
}
.banner .swiper-slide {
	width: 60%;
	height: 100%;
}
.banner .swiper-container img {
	width: 100%;
	height: 100%;
}
.index_con {
	position: relative;
	height: 100%;
	overflow-y: auto;
}
